@{
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div id="banner-home" class="container">
        <h1 class="jumbotron-heading text-white">Geocaching Application</h1>
        <p class="lead text-white">
            This is an application for geocaches seekers. Register and start searching today!
        </p>
    </div>
</section>

<!-- Kontener przycisków -->
<div class="button-container text-center">
    <a class="btn btn-success btn-lg hover-effect"
       asp-area="" asp-controller="Account" asp-action="Login"
       aria-label="Login to your account">Login in your account &raquo;</a>

    <a class="btn btn-success btn-lg hover-effect pd"
       asp-area="" asp-controller="Account" asp-action="Register"
       aria-label="Create a new account">Create a new account &raquo;</a>
</div>
