body {
    font-family: Roboto, sans-serif;
}

strong {
    color: #007bff;
}

input.form-control {
    border-color: forestgreen;
}

.custom-navbar {
    border-bottom: 2px solid green;
}

.list-group-item {
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 16px; 
}

.list-group-item.bg-success {
  background-color: #28a745 !important; 
  color: #fff !important; 
  font-family: Roboto, sans-serif;
  font-size:18px;
}

.list-group {
    margin-top: 20px;
    font-family: Georgia, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item:last-child {
    border-bottom: 2px solid #28a745; 
}

ul.list-unstyled li {
    margin-bottom: 5px; 
}

.hover-effect {
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

.hover-effect:hover {
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 6px;
    transition: border-bottom 0.3s ease;
}

.nav-link.active {
    border: 1px solid green;
    border-radius: 5px;
    background-color: lightgreen;
}

#formButtons {
    padding: 5px 0px;
}

#title {
    font-size: 20px;
}

#description {
    font-family: 'Georgia', serif;
    font-size: 16px;
}

#userList {
    border-bottom: 2px solid #0d6efd;
}

