body {
    font-family: Roboto, sans-serif;
    background-image: url('/images/forest.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.btn {
    border: 1px solid white;
}

.btn-lg {
    padding: 15px 30px;
    font-size: 18px;
    width: 100%;
    max-width: 350px;
    margin: 10px 0;
    border: 1px solid white; /* Biała obwódka wokół przycisków */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
    margin-top: 20px;
}

.hover-effect:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.card-body {
    background-color: forestgreen;
}

.form-container {
    background-color: #28a745;
    padding: 30px;
    border-radius: 8px;
    color: white;
    border: 2px solid white; /* Biała obwódka wokół formularza */
}

.form-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-container .form-group label {
    color: white;
}

.form-container .btn {
    margin-top: 10px;
    width: 100%;
    border: 1px solid white; /* Biała obwódka wokół przycisków formularza */
}

.form-container .btn-success {
    background-color: #1c7430;
    border-color: #1c7430;
}

    .form-container .btn-success:hover {
        background-color: #155d27;
        border-color: #155d27;
    }

.form-container .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .form-container .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

h4 {
    background-color: green;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    opacity: 0.90;
}

strong {
    color: #007bff;
}

.list-group-item {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

    .list-group-item.bg-success {
        background-color: #28a745 !important;
        color: #fff !important;
        font-family: Roboto, sans-serif;
        font-size: 18px;
    }

.list-group {
    margin-top: 20px;
    font-family: Georgia, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item:last-child {
    border-bottom: 2px solid #28a745;
}

.navbar {
    background-color: green;
    opacity: 0.90;
}

    .navbar .navbar-nav .nav-link {
        color: white !important;
    }

        .navbar .navbar-nav .nav-link:hover {
            color: #FFD700 !important;
        }

ul.list-unstyled li {
    margin-bottom: 5px;
}

.hover-effect {
    transition: box-shadow 0.3s ease, color 0.3s ease;
}

    .hover-effect:hover {
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

#banner-home {
    padding: 20px 0;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.jumbotron-heading {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.lead {
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#description {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: white;
}

#formButtons {
    padding: 5px 0px;
}

#logo-name {
    color: white;
}

#title {
    font-size: 20px;
    color: white;
}

#user-detail-header {
    background-color: green;
    color: white;
}
